<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-10 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-gray-700 mb-4">Calculator</h1>
        
        <form class="space-y-4">
            <input type="number" id="num1" name="num1" placeholder="Number 1" class="w-full p-2 border border-gray-300 rounded">
            <input type="number" id="num2" name="num2" placeholder="Number 2" class="w-full p-2 border border-gray-300 rounded">
        </form>

        <div class="flex space-x-2 mt-4">
            <button hx-post="/api/v1/calculate" id="add" hx-target="#value" hx-vals='javascript:{"operation": "add", "num1": parseFloat(document.getElementById("num1").value), "num2": parseFloat(document.getElementById("num2").value)}' class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add</button>
            <button hx-post="/api/v1/calculate" id="subtract" hx-target="#value" hx-vals='javascript:{"operation": "subtract", "num1": parseFloat(document.getElementById("num1").value), "num2": parseFloat(document.getElementById("num2").value)}' class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Subtract</button>
            <button hx-post="/api/v1/calculate" id="multiply" hx-target="#value" hx-vals='javascript:{"operation": "multiply", "num1": parseFloat(document.getElementById("num1").value), "num2": parseFloat(document.getElementById("num2").value)}' class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">Multiply</button>
            <button hx-post="/api/v1/calculate" id="divide" hx-target="#value" hx-vals='javascript:{"operation": "divide", "num1": parseFloat(document.getElementById("num1").value), "num2": parseFloat(document.getElementById("num2").value)}' class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Divide</button>
        </div>
        
        <div id="result" class="text-lg mt-4 hidden">
            <span id="result_type" class="font-semibold">Result:</span> <span id="value" class="text-lg"></span>
        </div>
    </div>

    <script>
        document.querySelectorAll('button').forEach(button => {
            button.addEventListener('click', () => {
                const resultDiv = document.getElementById('result');
                const valueSpan = document.getElementById('value');
                const resultTypeSpan = document.getElementById('result_type');
                resultTypeSpan.innerHTML = 'Result:';
                // Check for changes in the value span
                const observer = new MutationObserver(() => {
                    if (valueSpan.innerText.trim() !== '') {
                        resultDiv.classList.remove('hidden');
                    }
                });

                // Start observing the value span for changes
                observer.observe(valueSpan, { childList: true });
            });
            button.addEventListener('htmx:responseError', (evt) => {
                document.getElementById('result_type').innerHTML = 'Error:';
                document.getElementById('value').innerHTML = JSON.parse(evt.detail.xhr.response).detail;
            });
        });
    </script>
</body>
</html>
